body
    margin: 0
    background-image: url('/public/image/main_bg.jpg')
    header
        background: rgba(0, 0, 0, 0.7) url('/public/image/banner1.jpg')
        background-position: top
        background-size: 100%
        background-repeat: no-repeat
        background-blend-mode: darken
        border-bottom: 15px solid transparent
        border-image: url('/public/image/bottom_decoration_img.png') 0 0 30 0 round
        .pas:hover
            background: red
.sec1
        text-align: center
        font-family: cursive
        font-size: 70px
        margin-top: 100px
        color: white
        button
            font-family: 'Times New Roman', Times, serif
            font-size: 20px
.sec2
    width: 80%
    .our
        color: red
    h5
        font-size: 20px
    p
        font-size: 14px
    .gray
        background-color: gray
        
@media screen and (min-width: 320px) and (max-width: 634px)
    section
        font-size: 50px
        button
            font-size: 13px