body
    margin: 0
    background-image: url('/public/image/main_bg.jpg')
    header
        background: rgba(0, 0, 0, 0.7) url('/public/image/banner1.jpg')
        background-position: top
        background-size: 100%
        background-repeat: no-repeat
        background-blend-mode: darken
        border-bottom: 15px solid transparent
        border-image: url('/public/image/bottom_decoration_img.png') 0 0 30 0 round
        .pas:hover
            background: red
    .sec1
            text-align: center
            font-family: cursive
            font-size: 70px
            margin-top: 100px
            color: white
            button
                font-family: 'Times New Roman', Times, serif
                font-size: 20px
    .sec2
        width: 80%
        .para
            font-size: 10px
        .our
            color: red
            font-weight: bold
            font-size: 42px
            font-family: cursive
        .rez
            width: 100%
        .font
            font-family: cursive
            font-weight: bold
            font-size: 30px
        h5
            font-size: 20px
        p
            font-size: 14px
        .gray
            background-color: gray
        i:active
            color: red
    .sec3
        background-image: url("/public/image/team_background.jpg")
        .our
            color: red
            font-weight: bold
            font-size: 42px
            font-family: cursive
        .font
            font-family: cursive
            font-weight: bold
            font-size: 30px   

    .sec4
        width: 80%
        .ok
            width: 65%
            background-image: url("/public/image/book_table_bg.jpg")
            .wd
                width: 35%
        .gauche
            position: absolute
            width: 25%
            left: 360px
        .gauche2
            position: relative
            top: 205px
            left: 250px
        .droite
            position: absolute
            width: 25%
            left: 780px
        .droite2
            position: relative
            top: 205px
            left: 380px
        .gr
            font-size: 22px
            font-weight: bold
        .our
            color: red
            font-weight: bold
            font-size: 42px
            font-family: cursive
        .font
            font-family: cursive
            font-weight: bold
            font-size: 30px
    .sec5
        background-image: url("/public/image/team_background.jpg")  
        .testi
            width: 25%
        .tt
            width: 10%
        .our
            color: red
            font-weight: bold
            font-size: 42px
            font-family: cursive
        .font
            font-family: cursive
            font-weight: bold
            font-size: 30px
    .sec6
        .our
            color: red
            font-weight: bold
            font-size: 42px
            font-family: cursive
        .font
            font-family: cursive
            font-weight: bold
            font-size: 30px
    footer
        background-image: url("/public/image/footer_background.jpg")
        border-top: 15px solid transparent
        border-image: url('/public/image/footer_bottom_decoration_img.png') 30 0 0 0 round
        .fdiv
            width: 25%
    .son
            height: 50px
            width: 100%
@media screen and (min-width: 320px) and (max-width: 634px)
    section
        font-size: 50px
        button
            font-size: 13px
    .sec2
        width: 80%
        .para
            font-size: 10px
        .our
            color: red
            font-weight: bold
            font-size: 42px
            font-family: cursive
        .rez
            width: 100%
        .rez2
            width: 25%
        .font
            font-family: cursive
            font-weight: bold
            font-size: 30px
            padding-left: 20px
        h5
            font-size: 20px
        p
            font-size: 14px
        .gray
            background-color: gray
        i:active
            color: red
    .ouf
        width: 100%
    .sec4
        width: 80%
        .ok
            width: 65%
            background-image: url("/public/image/book_table_bg.jpg")
            .wd
                width: 35%
        .gauche
            position: absolute
            width: 40% !important
            left: 100px !important
        .gauche2
            position: relative
            top: 50px !important
            left: 2px !important
        .droite
            position: absolute
            width: 40% !important
            left: 100px !important
            margin-top: 155px
        .droite2
            position: relative
            top: 205px !important
            left: 2px !important
        .gr
            font-size: 22px
            font-weight: bold
        .our
            color: red
            font-weight: bold
            font-size: 30px !important
            font-family: cursive
            padding-left: 10px
        .rez
            width: 100%
        .font
            font-family: cursive
            font-weight: bold
            font-size: 20px  !important
        .carr
            font-size: 10px
        .ouf
            width: 100%
        .fz
            font-size: 15px
            text-align: center
        .tm
            margin-left: auto
            margin-right: auto
        .fintkt
            width: 25%
    .sec5
        background-image: url("/public/image/team_background.jpg")  
        .testi
            width: 100% !important
            font-size: 20px
            
        .tt
            width: 80% !important
            margin-left: auto
            margin-right: auto
        .our
            color: red
            font-weight: bold
            font-size: 42px
            font-family: cursive
        .font
            font-family: cursive
            font-weight: bold
            font-size: 30px    
        .clc
            width: 100% !important
    .sec6
        .our
            color: red
            font-weight: bold
            font-size: 42px
            font-family: cursive
        .font
            font-family: cursive
            font-weight: bold
            font-size: 30px
        .sec6tt
            width: 80% !important
            font-size: 10px
        .clc
            width: 100% !important
    
    footer
        text-align: center
        
        .des
            margin-bottom: 50px
@media screen and (min-width: 634px) and (max-width: 768px)
    .sec4
        width: 80%
        .ok
            width: 65%
            background-image: url("/public/image/book_table_bg.jpg")
            .wd
                width: 35%
        .gauche
            position: absolute
            width: 40% !important
            left: 250px !important
        .gauche2
            position: relative
            top: 150px !important
            left: 180px !important
        .droite
            position: absolute
            width: 40% !important
            left: 250px !important
            margin-top: 250px
        .droite2
            position: relative
            top: 400px !important
            left: -115px !important
            margin-bottom: 200px
        .gr
            font-size: 22px
            font-weight: bold
        .our
            color: red
            font-weight: bold
            font-size: 30px !important
            font-family: cursive
            padding-left: 10px
        .rez
            width: 100%
        .font
            font-family: cursive
            font-weight: bold
            font-size: 20px  !important
        .carr
            font-size: 10px
        .ouf
            width: 100%
        .fz
            font-size: 15px
            text-align: center
        .tm
            margin-left: auto
            margin-right: auto
            display: none
        .fintkt
            width: 25%
    footer
        text-align: center
        .tkt
            margin-left: auto
            margin-right: auto
        .des
            margin-bottom: 50px
    